.site_title i{
	border: none;
}
.profile_details .img-circle{
	max-width: 100px;
	margin: auto;
}
.user_profile_list .panel_toolbox > li > a{
	color: #73879C;
}
.user_profile_list .open > .dropdown-menu{
	left: auto;
	right: 0;
}
.sidebar_profile .profile_pic{
	width: 100%;
	background-color: #332f2f;
	padding: 10px 0px;
}
.sidebar_profile .profile_pic .profile_img{
	max-width: 100px;
	margin: auto;
}
.sidebar_profile .profile_info{
	width: 100%;
	margin: 0;
	padding: 0px;
}
.sidebar_profile .profile_info span,
.sidebar_profile .profile_info h2{
	color: white;
}
#invisible{
	visibility: hidden;
}
body.nav-sm .sidebar_profile{
	display: none;
}
#wizard a.selected .step_no,
#wizard a.selected::before{
	background-color: #1ABB9C;
}
.login_wrapper .animate{
	position: relative;
}
#permission-scanner{
	margin-top: 100px;
}
#new-controller-actions thead tr{
	background-color: #2A3F54;
	color: white;
}
.tile-stats{
	padding-bottom: 0px;
}
.tile-stats p{
	background-color: #2A3F54;
	padding: 5px 0px;
	margin: 10px 0px 0px 0px;
	color: white;
	text-align: center;
}
#user-groups-index .user-group-image{
	font-size: 50px;
	margin-top: 10px;
}
#user-groups-index .thumbnail .image{
	background-color: #2A3F54;
	color: white;
}
#user-groups-index .thumbnail .links .label{
	margin: 0px 4px;
}
#user-groups-index .thumbnail .caption p strong{
	margin-right: 10px;
}
.flash-black-border{
	border-color: black;
}
#wizard .wizard_steps{
	padding-left: 0px;
}
.tile-stats h3{
	font-size: 13px;
	color: #5F5252;
}
.error-message{
	color: red;
	background-color: rgb(239, 218, 218);
	padding: 2px;
}
.error-message ul li{
	text-align: left;
}
#user-groups-index .thumbnail{
	height: auto;
	min-height: 172px;
}
#user-groups-index .thumbnail .administrator{
	background-color: #5CB85C;
}
#signup-form div.select{
	margin: 0 0 20px;
}
#signup-form .error-message{
	margin-top: -20px;
	margin-bottom: 20px;
}
/*EDITOR*/
#compose{
	display: block;
	position: relative;
	border: none;
}
#compose .compose-body .editor-wrapper{
	min-height: 300px;
	max-height: 400px;
}
.page-title .x_panel > h3{
	margin: 2px auto;
	font-size: 17px;
}