.site_title i{
	border: none;
}
.profile_details .img-circle{
	max-width: 100px;
	margin: auto;
}
.user_profile_list .panel_toolbox > li > a{
	color: #73879C;
}
.user_profile_list .open > .dropdown-menu{
	left: auto;
	right: 0;
}
.sidebar_profile .profile_pic{
	width: 100%;
	background-color: #332f2f;
	padding: 10px 0px;
}
.sidebar_profile .profile_pic .profile_img{
	max-width: 100px;
	margin: auto;
}
.sidebar_profile .profile_info{
	width: 100%;
	margin: 0;
	padding: 0px;
}
.sidebar_profile .profile_info span,
.sidebar_profile .profile_info h2{
	color: white;
}
#invisible{
	visibility: hidden;
}
body.nav-sm .sidebar_profile{
	display: none;
}
#wizard a.selected .step_no,
#wizard a.selected::before{
	background-color: #1ABB9C;
}
.login_wrapper .animate{
	position: relative;
}
#permission-scanner{
	margin-top: 100px;
}
#new-controller-actions thead tr{
	background-color: #2A3F54;
	color: white;
}
.tile-stats{
	padding-bottom: 0px;
}
.tile-stats p{
	background: #1ABB9C;
	padding: 5px 0px;
	margin: 10px 0px 0px 0px;
	color: white;
	text-align: center;
}
#user-groups-index .user-group-image{
	font-size: 50px;
	margin-top: 10px;
}
#user-groups-index .thumbnail .image{
	background-color: #2A3F54;
	color: white;
}
#user-groups-index .thumbnail .links .label{
	margin: 0px 4px;
}
#user-groups-index .thumbnail .caption p strong{
	width: 80px;
	display: inline-block;
}